
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');


*{
    margin:0;
    padding:0;
}

body{

    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container{

    
    color: white;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 25%;
    
}

.container h1{
    
    font-family: 'Heebo', sans-serif;

    display: inline-block;

    font-size: 40px;
    border-bottom: 5px solid purple;
    padding: 12px 0;
    margin-bottom: 15px;

}

.box{

    width: 100%;
    margin: 22px 0;
    border-bottom: 2px solid purple;
    

    
}

.box input{
    background: none;
    width: 75%;
    border: none;
    color: white;
    font-size: 20px;
    outline: none;
    padding: 5px 10px;
    
} 

.btn{
    font-size: 18px;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 10px 21px;
    margin: 12px 0;
    border-radius: 10px;
    border: 2px solid purple;
    color: white;
    font-weight: bold;
}

.box i{

    

    width: 25px;

    

    text-align: center;


}

.btn:hover{
    opacity: 0.5;

    background: white;
    color: purple;
    
}